{% extends layout_template  %}
{% block content %}
<div class="media">

<h2 class="info-sign">Password reset</h2>
<div id="forgotPassword">  

    {% if requestSent %}
    <p>
        <i class="icon-ok"></i> An email has been sent to {{ email }} with a new password. <a href="{{ path('user.login') }}">Try again to sign in</a>.
    </p>
    {% else %} 
    <div class="control-group">
        <div class="controls">
            <form id="forgotPasswordForm" method="POST">
                <label for="email" class="control-label">
                    Please fill-in your e-mail :
                </label>
                <input type="text" name="email" id="email" placeholder="email"/>
        </div>
        <div class="controls">
            <button type="submit" class="btn btn-danger bt-sign">Reset password</button>
        </div>
        </form>

    </div>
</div>
        {% endif %}
</div>
</div>
{% endblock %}