<h1>Password reset</h1>
<div id="forgotPassword">
    {% if requestSent %}
        <p>
            An email has been sent to {{email}} with a new password
        </p>
    {% else %}
    <form id="forgotPasswordForm" method="POST">
        <label for="email">
            Please fill-in your e-mail :
            <input type="text" name="email" id="email" placeholder="email"/>
        </label>
    </form>
        
        {% endif %}
</div>
